In [17]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn import metrics
import numpy as np
dataset=pd.read_csv("bank_customer_survey.csv", header=0,delimiter=",")
data=dataset[['age', 'job','marital','education','default','balance','housing','loan']]

In [18]:
def updatebalance(x):
    x = x*100
    return float(x)
def balance(x):
    if x < 1 :
        return 1
    if x >= 1 and x < 500000 :
        return 2
    if x >= 500000 and x < 1500000 :
        return 4
    if x >= 1500000 and x < 3000000 :
        return 6
    if x >= 3000000 and x < 5000000 :
        return 6
    if x >= 5000000 and x < 10000000 :
        return 7
    if x >= 10000000 and x < 15000000 :
        return 8
    if x >= 15000000 and x < 50000000 :
        return 9
    if x >=50000000 :
        return 10
def age(x):
    if x > 14 and x < 19 :
        return 10
    if x >= 19 and x < 26 :
        return 9
    if x >= 26 and x < 31 :
        return 8
    if x >= 31 and x < 40 :
        return 7
    if x >= 40 and x < 47 :
        return 6
    if x >= 47 and x < 54 :
        return 5
    if x >= 54 and x < 61 :
        return 4
    if x >= 61 and x < 68 :
        return 3
    if x >= 68 and x < 75 :
        return 3
    if x >= 75 and x < 82 :
        return 2
    if x >= 82 and x < 89 :
        return 2
    if x >=89 :
        return 1
def job(x):
    if x == 'management':
        return 6
    if x == 'technician':
        return 3
    if x == 'entrepreneur':
        return 3
    if x == 'blue':
        return 3
    if x == 'unknown':
        return 1
    if x == 'retired':
        return 2
    if x == 'admin':
        return 4
    if x == 'services':
        return 7
    if x == 'self':
        return 6
    if x == 'unemployed':
        return 1
    if x == 'housemaid':
        return 1
    if x == 'student':
        return 1
def marital(x):
    if x == 'married':
        return 6
    if x == 'single':
        return 8
    if x == 'divorced':
        return 8
def education(x):
    if x == 'tertiary':
        return 9
    if x == 'secondary':
        return 5
    if x == 'unknown':
        return 1
    if x == 'primary':
        return 2
def default(x):
    if x == 'yes':
        return 4
    if x == 'no':
        return 7
def housing(x):
    if x == 'yes':
        return 8
    if x == 'no':
        return 4
def loan(x):
    if x == 'yes':
        return 4
    if x == 'no':
        return 7

In [19]:
df=data
df.loan=df.loan.apply(loan)
df.balance=df.balance.apply(updatebalance)
df.balance=df.balance.apply(balance)
df.housing=df.housing.apply(housing)
df.default=df.default.apply(default)
df.education=df.education.apply(education)
df.marital=df.marital.apply(marital)
df.age=df.age.apply(age)
df.job=df.job.apply(job)
df

/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

       age  job  marital  education  default  balance  housing  loan
0        4    6        6          9        7        2        8     7
1        6    3        8          5        7        2        8     7
2        7    3        6          5        7        2        8     4
3        5    3        6          1        7        2        8     7
4        7    1        8          1        7        2        4     7
5        7    6        6          9        7        2        8     7
6        8    6        8          9        7        2        8     4
7        6    3        8          9        4        2        8     7
8        4    2        6          2        7        2        8     7
9        6    3        8          5        7        2        8     7
10       6    4        8          5        7        2        8     7
11       8    4        8          5        7        2        8     7
12       5    3        6          5        7        2        8     7
13       4    3        6          1        7        2        8     7
14       4    7        6          5        7        2        8     7
15       5    2        6          2        7        2        8     7
16       6    4        8          1        7        2        8     7
17       4    3        6          2        7        2        8     7
18       4    2        6          2        7        2        8     7
19       7    7        6          5        7        1        8     7
20       8    3        6          5        7        2        8     4
21       4    6        6          9        7        2        8     7
22       7    3        8          2        7        2        8     4
23       9    7        6          5        7        2        8     7
24       6    2        6          2        7        1        8     4
25       6    4        6          5        7        1        8     7
26       7    6        8          9        7        2        8     7
27       5    3        6          5        7        2        8     4
28       6    6        8          5        7        1        8     7
29       7    3        8          5        7        2        8     4
...    ...  ...      ...        ...      ...      ...      ...   ...
45181    6    3        6          5        7        4        4     7
45182    7    3        6          5        7        2        4     7
45183    3    2        6          2        7        2        4     7
45184    3    2        6          5        7        2        4     7
45185    4    7        6          9        7        2        8     7
45186    4    1        6          1        7        2        4     7
45187    7    7        8          5        7        2        8     7
45188    8    6        8          5        7        2        8     7
45189    9    7        8          5        7        2        4     7
45190    7    3        6          5        7        2        4     7
45191    2    2        8          9        7        2        8     7
45192    8    6        8          9        7        2        4     7
45193    8    6        8          9        7        2        4     7
45194    4    6        6          9        7        2        8     4
45195    3    2        6          5        7        2        4     7
45196    9    1        8          5        7        2        4     7
45197    7    6        8          5        7        2        8     7
45198    7    6        6          9        7        2        4     7
45199    7    3        8          5        7        2        8     7
45200    7    3        6          5        7        2        8     7
45201    5    6        6          9        7        2        4     7
45202    7    4        8          5        7        2        4     7
45203    9    1        8          9        7        2        4     7
45204    3    2        6          5        7        2        4     7
45205    9    3        8          5        7        2        4     4
45206    5    3        6          9        7        2        4     7
45207    3    2        8          2        7        2        4     7
45208    3    2        6          5        7        4        4     7
45209    4    3        6          5        7        2        4     7
45210    7    3        6          5        7        2        4     7

[45211 rows x 8 columns]

In [21]:
df['new']=[ (10*x.age+7*x.job+6*x.marital+5*x.education+4*x.default+6*x.balance+6*x.housing+6*x.loan)/50 for index, x in df.iterrows() ]

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [26]:
df

       age  job  marital  education  default  balance  housing  loan  new
0        4    6        6          9        7        2        8     7  6.0
1        6    3        8          5        7        2        8     7  6.0
2        7    3        6          5        7        2        8     4  5.0
3        5    3        6          1        7        2        8     7  5.0
4        7    1        8          1        7        2        4     7  5.0
5        7    6        6          9        7        2        8     7  6.0
6        8    6        8          9        7        2        8     4  7.0
7        6    3        8          9        4        2        8     7  6.0
8        4    2        6          2        7        2        8     7  5.0
9        6    3        8          5        7        2        8     7  6.0
10       6    4        8          5        7        2        8     7  6.0
11       8    4        8          5        7        2        8     7  6.0
12       5    3        6          5        7        2        8     7  5.0
13       4    3        6          1        7        2        8     7  5.0
14       4    7        6          5        7        2        8     7  6.0
15       5    2        6          2        7        2        8     7  5.0
16       6    4        8          1        7        2        8     7  5.0
17       4    3        6          2        7        2        8     7  5.0
18       4    2        6          2        7        2        8     7  5.0
19       7    7        6          5        7        1        8     7  6.0
20       8    3        6          5        7        2        8     4  5.0
21       4    6        6          9        7        2        8     7  6.0
22       7    3        8          2        7        2        8     4  5.0
23       9    7        6          5        7        2        8     7  7.0
24       6    2        6          2        7        1        8     4  5.0
25       6    4        6          5        7        1        8     7  5.0
26       7    6        8          9        7        2        8     7  7.0
27       5    3        6          5        7        2        8     4  5.0
28       6    6        8          5        7        1        8     7  6.0
29       7    3        8          5        7        2        8     4  6.0
...    ...  ...      ...        ...      ...      ...      ...   ...  ...
45181    6    3        6          5        7        4        4     7  5.0
45182    7    3        6          5        7        2        4     7  5.0
45183    3    2        6          2        7        2        4     7  4.0
45184    3    2        6          5        7        2        4     7  4.0
45185    4    7        6          9        7        2        8     7  6.0
45186    4    1        6          1        7        2        4     7  4.0
45187    7    7        8          5        7        2        8     7  6.0
45188    8    6        8          5        7        2        8     7  6.0
45189    9    7        8          5        7        2        4     7  6.0
45190    7    3        6          5        7        2        4     7  5.0
45191    2    2        8          9        7        2        8     7  5.0
45192    8    6        8          9        7        2        4     7  6.0
45193    8    6        8          9        7        2        4     7  6.0
45194    4    6        6          9        7        2        8     4  6.0
45195    3    2        6          5        7        2        4     7  4.0
45196    9    1        8          5        7        2        4     7  6.0
45197    7    6        8          5        7        2        8     7  6.0
45198    7    6        6          9        7        2        4     7  6.0
45199    7    3        8          5        7        2        8     7  6.0
45200    7    3        6          5        7        2        8     7  6.0
45201    5    6        6          9        7        2        4     7  6.0
45202    7    4        8          5        7        2        4     7  6.0
45203    9    1        8          9        7        2        4     7  6.0
45204    3    2        6          5        7        2        4     7  4.0
45205    9    3        8          5        7        2        4     4  5.0
45206    5    3        6          9        7        2        4     7  5.0
45207    3    2        8          2        7        2        4     7  4.0
45208    3    2        6          5        7        4        4     7  4.0
45209    4    3        6          5        7        2        4     7  5.0
45210    7    3        6          5        7        2        4     7  5.0

[45211 rows x 9 columns]

In [25]:
df.new=df.new.round()

/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [27]:
df.to_csv('filenew.csv')

In [28]:
data

       age  job  marital  education  default  balance  housing  loan  new
0        4    6        6          9        7        2        8     7  6.0
1        6    3        8          5        7        2        8     7  6.0
2        7    3        6          5        7        2        8     4  5.0
3        5    3        6          1        7        2        8     7  5.0
4        7    1        8          1        7        2        4     7  5.0
5        7    6        6          9        7        2        8     7  6.0
6        8    6        8          9        7        2        8     4  7.0
7        6    3        8          9        4        2        8     7  6.0
8        4    2        6          2        7        2        8     7  5.0
9        6    3        8          5        7        2        8     7  6.0
10       6    4        8          5        7        2        8     7  6.0
11       8    4        8          5        7        2        8     7  6.0
12       5    3        6          5        7        2        8     7  5.0
13       4    3        6          1        7        2        8     7  5.0
14       4    7        6          5        7        2        8     7  6.0
15       5    2        6          2        7        2        8     7  5.0
16       6    4        8          1        7        2        8     7  5.0
17       4    3        6          2        7        2        8     7  5.0
18       4    2        6          2        7        2        8     7  5.0
19       7    7        6          5        7        1        8     7  6.0
20       8    3        6          5        7        2        8     4  5.0
21       4    6        6          9        7        2        8     7  6.0
22       7    3        8          2        7        2        8     4  5.0
23       9    7        6          5        7        2        8     7  7.0
24       6    2        6          2        7        1        8     4  5.0
25       6    4        6          5        7        1        8     7  5.0
26       7    6        8          9        7        2        8     7  7.0
27       5    3        6          5        7        2        8     4  5.0
28       6    6        8          5        7        1        8     7  6.0
29       7    3        8          5        7        2        8     4  6.0
...    ...  ...      ...        ...      ...      ...      ...   ...  ...
45181    6    3        6          5        7        4        4     7  5.0
45182    7    3        6          5        7        2        4     7  5.0
45183    3    2        6          2        7        2        4     7  4.0
45184    3    2        6          5        7        2        4     7  4.0
45185    4    7        6          9        7        2        8     7  6.0
45186    4    1        6          1        7        2        4     7  4.0
45187    7    7        8          5        7        2        8     7  6.0
45188    8    6        8          5        7        2        8     7  6.0
45189    9    7        8          5        7        2        4     7  6.0
45190    7    3        6          5        7        2        4     7  5.0
45191    2    2        8          9        7        2        8     7  5.0
45192    8    6        8          9        7        2        4     7  6.0
45193    8    6        8          9        7        2        4     7  6.0
45194    4    6        6          9        7        2        8     4  6.0
45195    3    2        6          5        7        2        4     7  4.0
45196    9    1        8          5        7        2        4     7  6.0
45197    7    6        8          5        7        2        8     7  6.0
45198    7    6        6          9        7        2        4     7  6.0
45199    7    3        8          5        7        2        8     7  6.0
45200    7    3        6          5        7        2        8     7  6.0
45201    5    6        6          9        7        2        4     7  6.0
45202    7    4        8          5        7        2        4     7  6.0
45203    9    1        8          9        7        2        4     7  6.0
45204    3    2        6          5        7        2        4     7  4.0
45205    9    3        8          5        7        2        4     4  5.0
45206    5    3        6          9        7        2        4     7  5.0
45207    3    2        8          2        7        2        4     7  4.0
45208    3    2        6          5        7        4        4     7  4.0
45209    4    3        6          5        7        2        4     7  5.0
45210    7    3        6          5        7        2        4     7  5.0

[45211 rows x 9 columns]

In [29]:
dt=pd.read_csv("bank_customer_survey.csv", header=0,delimiter=",")

In [30]:
dt['riskclassification']=df.new

In [31]:
dt

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,riskclassification
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,0,6.0
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,0,6.0
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,0,5.0
3,47,blue,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,0,5.0
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,0,5.0
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,0,6.0
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,0,7.0
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,0,6.0
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,0,5.0
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,0,6.0
10,41,admin,divorced,secondary,no,270,yes,no,unknown,5,may,222,1,-1,0,unknown,0,6.0
11,29,admin,single,secondary,no,390,yes,no,unknown,5,may,137,1,-1,0,unknown,0,6.0
12,53,technician,married,secondary,no,6,yes,no,unknown,5,may,517,1,-1,0,unknown,0,5.0
13,58,technician,married,unknown,no,71,yes,no,unknown,5,may,71,1,-1,0,unknown,0,5.0
14,57,services,married,secondary,no,162,yes,no,unknown,5,may,174,1,-1,0,unknown,0,6.0
15,51,retired,married,primary,no,229,yes,no,unknown,5,may,353,1,-1,0,unknown,0,5.0
16,45,admin,single,unknown,no,13,yes,no,unknown,5,may,98,1,-1,0,unknown,0,5.0
17,57,blue,married,primary,no,52,yes,no,unknown,5,may,38,1,-1,0,unknown,0,5.0
18,60,retired,married,primary,no,60,yes,no,unknown,5,may,219,1,-1,0,unknown,0,5.0
19,33,services,married,secondary,no,0,yes,no,unknown,5,may,54,1,-1,0,unknown,0,6.0
20,28,blue,married,secondary,no,723,yes,yes,unknown,5,may,262,1,-1,0,unknown,0,5.0
21,56,management,married,tertiary,no,779,yes,no,unknown,5,may,164,1,-1,0,unknown,0,6.0
22,32,blue,single,primary,no,23,yes,yes,unknown,5,may,160,1,-1,0,unknown,0,5.0
23,25,services,married,secondary,no,50,yes,no,unknown,5,may,342,1,-1,0,unknown,0,7.0
24,40,retired,married,primary,no,0,yes,yes,unknown,5,may,181,1,-1,0,unknown,0,5.0
25,44,admin,married,secondary,no,-372,yes,no,unknown,5,may,172,1,-1,0,unknown,0,5.0
26,39,management,single,tertiary,no,255,yes,no,unknown,5,may,296,1,-1,0,unknown,0,7.0
27,52,entrepreneur,married,secondary,no,113,yes,yes,unknown,5,may,127,1,-1,0,unknown,0,5.0
28,46,management,single,secondary,no,-246,yes,no,unknown,5,may,255,2,-1,0,unknown,0,6.0
29,36,technician,single,secondary,no,265,yes,yes,unknown,5,may,348,1,-1,0,unknown,0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45181,46,blue,married,secondary,no,6879,no,no,cellular,15,nov,74,2,118,3,failure,0,5.0
45182,34,technician,married,secondary,no,133,no,no,cellular,15,nov,401,2,187,5,success,1,5.0
45183,70,retired,married,primary,no,324,no,no,cellular,15,nov,78,1,96,7,success,0,4.0
45184,63,retired,married,secondary,no,1495,no,no,cellular,16,nov,138,1,22,5,success,0,4.0
45185,60,services,married,tertiary,no,4256,yes,no,cellular,16,nov,200,1,92,4,success,1,6.0
45186,59,unknown,married,unknown,no,1500,no,no,cellular,16,nov,280,1,104,2,failure,0,4.0
45187,32,services,single,secondary,no,1168,yes,no,cellular,16,nov,411,1,-1,0,unknown,1,6.0
45188,29,management,single,secondary,no,703,yes,no,cellular,16,nov,236,1,550,2,success,1,6.0
45189,25,services,single,secondary,no,199,no,no,cellular,16,nov,173,1,92,5,failure,0,6.0
45190,32,blue,married,secondary,no,136,no,no,cellular,16,nov,206,1,188,3,success,1,5.0
45191,75,retired,divorced,tertiary,no,3810,yes,no,cellular,16,nov,262,1,183,1,failure,1,5.0
45192,29,management,single,tertiary,no,765,no,no,cellular,16,nov,238,1,-1,0,unknown,1,6.0
45193,28,self,single,tertiary,no,159,no,no,cellular,16,nov,449,2,33,4,success,1,6.0
45194,59,management,married,tertiary,no,138,yes,yes,cellular,16,nov,162,2,187,5,failure,0,6.0
45195,68,retired,married,secondary,no,1146,no,no,cellular,16,nov,212,1,187,6,success,1,4.0
45196,25,student,single,secondary,no,358,no,no,cellular,16,nov,330,1,-1,0,unknown,1,6.0
45197,36,management,single,secondary,no,1511,yes,no,cellular,16,nov,270,1,-1,0,unknown,1,6.0
45198,37,management,married,tertiary,no,1428,no,no,cellular,16,nov,333,2,-1,0,unknown,0,6.0
45199,34,blue,single,secondary,no,1475,yes,no,cellular,16,nov,1166,3,530,12,other,0,6.0
45200,38,technician,married,secondary,no,557,yes,no,cellular,16,nov,1556,4,-1,0,unknown,1,6.0
45201,53,management,married,tertiary,no,583,no,no,cellular,17,nov,226,1,184,4,success,1,6.0
45202,34,admin,single,secondary,no,557,no,no,cellular,17,nov,224,1,-1,0,unknown,1,6.0
45203,23,student,single,tertiary,no,113,no,no,cellular,17,nov,266,1,-1,0,unknown,1,6.0
45204,73,retired,married,secondary,no,2850,no,no,cellular,17,nov,300,1,40,8,failure,1,4.0
45205,25,technician,single,secondary,no,505,no,yes,cellular,17,nov,386,2,-1,0,unknown,1,5.0
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,1,5.0
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,1,4.0
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,1,4.0
45209,57,blue,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,0,5.0
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,0,5.0

In [32]:
dt.to_csv('original.csv')